body {
    width: 100%;
    font-family: 'Merriweather', serif;
}

html, 
fieldset {
    display: flex;
    flex-direction: column;
}

/*********** HEADER ************/

header,
footer {
    text-align: center;
}

header h1 {
    background-color:#2d3945;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    font-size: 20px;
}

header h2 {
    font-size: 20px;
}

header p {
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
    color: #d4d6d8;
    border-bottom: 5px solid #2d3945;
    margin-bottom: 3px;
}

/********** FORM **************/

form {
   border-top: 2px solid #2d3945; 
   background-color: #d4d4d9;
}

legend {
    padding: 15px 0px;
    font-size: 20px;
    font-weight: bold;
}

fieldset {
    border-style: none;
}

label {
    padding: 10px 0px;
}

.input_width {
    width: calc(100% - 45px); 
    height: 40px;
    border-radius: 5px;
    background-color: #eff0f1;
    border: 2px solid	#d4d4d9;
    padding: 0 20px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.state {
    width: 100%;
}

.zip {
    width: 45%;
}


.field {
    border-bottom:2px solid #2d3945;
}

/* https://www.w3schools.com/cssref/sel_placeholder.asp */
.required_form::placeholder {
   text-align: right;
   font-style: italic;
   font-size: 12px;
   padding-right: 10px;
}


/****************** NEWSLETTER **************/


/* CHECKBOX */

.checkbox_padding {
    margin: 7px;
}

.padding_bottom {
    padding-bottom: 10px;
}


/* TEXTAREA */

.area {
    height: 150px;
    padding-top: 15px;
    padding-bottom: 15px;
}


/* SUBMIT BUTTON */

.submit_button {
    width: 100%;
    color: white;
    background-color: #4fbdb5;
    font-size: 20px;
    margin: 15px 0px;
    padding: 20px 0px;
    border-radius: 5px;
    border: none;
}

/* FOOTER */

footer {
    font-style: italic;
}

/* TRANSITIONS */

input:focus,
textarea:focus,
select:focus {
    border: 3px solid #3c99DC;
}

input:active,
textarea:active,
select:active {
    border: 3px solid #2d3945;
}

/********MEDIA QUERIE ***********/

@media screen and (min-width: 768px)  {
.inline {
    display: inline-flex;
    align-items: center;
}

form {
    width: 75%;
    margin: auto;
    max-width: 750px;
    margin-top: 3px;
}

header p {
    padding-bottom: 30px;
    width: 75%;
    margin: auto;
    max-width: 750px;
    padding-left: 0;
    padding-right: 0;
}

header h2 {
    padding-top: 35px;
}

fieldset {
    margin-top: 30px;
}

label {
    width: 100%;
    flex-shrink: 2;
}

.zipcode {
    width: calc(100% - -13px);
}

footer {
    padding: 15px 0;
}

}